POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=task_management
API_CONNECTION_STRING=Host=postgres;Port=5432;Username=postgres;Password=postgres;Database=task_management
ALLOWED_ORIGINS=http://example.com;
JWT_KEY=secretkeythatshouldbeatleast32characterslongtoensuresecurity.
JWT_ISSUER=http://localhost
JWT_AUDIENCE=http://localhost
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=5
JWT_REFRESH_TOKEN_EXPIRY_DAYS=7
